<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- JPA EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
    </bean>

    <!-- Transaction Manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="h2WebServer" class="org.h2.tools.Server" factory-method="createWebServer" init-method="start" destroy-method="stop">
        <constructor-arg value="-web,-webAllowOthers,-webPort,8082"/>
    </bean>

    <!-- DAO Bean -->
    <bean id="tournamentDao" class="org.yassine.dao.impl.TournamentDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <bean id="gameDao" class="org.yassine.dao.impl.GameDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <bean id="playerDao" class="org.yassine.dao.impl.PlayerDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <bean id="teamDao" class="org.yassine.dao.impl.TeamDaoImpl">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <bean id="tournamentService" class="org.yassine.service.impl.TournamentServiceImp">
        <!-- Injecting the tournamentDao bean via constructor -->
        <constructor-arg ref="tournamentDao" />
    </bean>
    <bean id="gameService" class="org.yassine.service.impl.GameServiceImp">
        <!-- Injecting the tournamentDao bean via constructor -->
        <constructor-arg ref="gameDao" />
    </bean>
    <bean id="playerService" class="org.yassine.service.impl.PlayerServiceImp">
        <!-- Injecting the tournamentDao bean via constructor -->
        <constructor-arg ref="playerDao" />
    </bean>
    <bean id="teamService" class="org.yassine.service.impl.TeamServiceImp">
        <!-- Injecting the tournamentDao bean via constructor -->
        <constructor-arg ref="teamDao" />
    </bean>

    <bean id="consoleUI" class="org.yassine.view.ConsoleUI">
        <constructor-arg ref="playerService" />
        <constructor-arg ref="gameService" />
        <constructor-arg ref="teamService" />
        <constructor-arg ref="tournamentService" />
    </bean>


</beans>
